:root{
  --acolor: #5b6474;
  --sidebarhead: #899bbd;
  --boxHover:  #f0f0f0;
}

.header
{
  width: 98.5% !important;
  position: fixed !important;
}

#IG2.input-group
{
  margin-left: 0px !important;
}

.input-group /* Si */ {
    width: 45% !important;
    margin-left: 13%;
    margin-bottom: 0%;
}

.header .toggle-sidebar-btn /* Si */ {
    top: -1px;
    font-size: 32px;
    cursor: pointer;
    color: var(--acolor);
}

.sidebar /* Si */ {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 243px;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color:var(--boxbackground);
}
                
@media (max-width: 1199px) {
.toggle-sidebar .checkbox {width: 25px;}

.toggle-sidebar .sidebar { left: -306px;}
}
        
@media (min-width: 1024px) {
 .toggle-sidebar #main, .toggle-sidebar #footer { margin-left: 0; }
 
 .toggle-sidebar .sidebar { left: -306px; }
}
        
.sidebar-nav /* si */ {
    user-select: none;
    padding: 0;
    margin: 0;
    list-style: none;
}
        
.sidebar-nav li { /*Si*/
  margin-bottom: 5px;
  margin-right: -21px;
  margin-left: -17px;
  padding: 0px;
  list-style: none;
}
        
.sidebar-nav .nav-heading {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--sidebarhead);
    font-weight: 600;
    margin: 10px 0 1px -5px;
}
        
.sidebar-nav .nav-link /*Si*/
{
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  font-family: var(--fuente);
  padding: 8px 10px;
  border-radius: 4px;
  color: var(--acolor);
}
        
.sidebar-nav .nav-link i  /* Si */
{
  font-size: 16px;
  margin-right: 10px;
  color: var(--acolor);
}
         
            
.sidebar-nav .nav-link.collapsed i {
  color: var(--sidebarhead);
}
        
.sidebar-nav .nav-link:hover,
.sidebar-nav .nav-link:hover i {
  background: var(--boxHover);
  cursor: pointer;
}
                
.header1 
{
  display: block;
  position: relative;
  height: 60px;
}
          
.header1 .checkbox 
{
  position: absolute;
  display: block;
  height: 23px;
  top: 21px;
  left: 17px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
          
.header1 .hamburger-lines 
{
  height: 20px;
  width: 25px;
  position: absolute;
  top: 22px;
  left: 17px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
          
.header1 .hamburger-lines .line 
{
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: var(--color)
}
          
.header1 .hamburger-lines .line1 
{
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
          
.header1 .hamburger-lines .line2 
{
  transition: transform 0.2s ease-in-out;
}
          
.header1 .hamburger-lines .line3 
{
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
          
.header1 input[type="checkbox"]:checked ~ .hamburger-lines .line1 
{
  transform: rotate(45deg);
}
          
.header1 input[type="checkbox"]:checked ~ .hamburger-lines .line2 
{
  transform: scaleY(0);
}
          
.header1 input[type="checkbox"]:checked ~ .hamburger-lines .line3 
{
  transform: rotate(-45deg);
}

.divioer{margin: -2px 0px 12px -13px;}

#main {
  width: 78%;
  position: fixed;
  background-color: white;
  padding: 0px 6px;
  padding-bottom: 0px;
  transition: all 0.3s;
  overflow-y: auto !important;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf white;
  top: 60px;
  left: 0;
  bottom: 0;
}

@media (min-width: 1024px) { #main { margin-left: 285px;} }

#DivOptions
{
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
  align-items: center;
  display: flex;
}

#DivOptions .DOHeading
{
  color: black;
  font-size: 22px;
  margin-left: 0.3%;
  margin-right: 2%;
}

#DivOptions span
{
  font-size: 14px;
  text-transform: uppercase;
  color: var(--sidebarhead);
  font-weight: bolder;
}
