:root{
  --acolor: #5b6474;
  --sidebarhead: #899bbd;
  --boxHover:  #f0f0f0;
}

.header
{
  width: 100% !important;
  position: fixed !important;
}

.header #Div2 {
  margin-right: 2%;
  margin-inline-start: auto;
}


/* MAIN SECTION */

#main {
  width: 88.3%;
  position: fixed;
  margin-left: 285px;
  background-color: white;
  padding: 0px 4px;
  padding-bottom: 0px;
  transition: all 0.3s;
  overflow-y: auto !important;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf white;
  top: 60px;
  left: 4px;
  bottom: 0;
}

@media  (max-width: 1024px)
{
  #main 
  { 
    width: 70.8% !important;
  } 
}

@media (min-width: 1025px) and (max-width: 1440px)
{
  #main.SidebarHide
  {
    margin-left: 0px;
    width: 99.1%;
  }

  #main 
  { 
    width: 78.2%;
  } 
}

@media (min-width: 1441px) and (max-width: 2559px)
{
  #main 
  { 
    width: 84.1% !important;
  } 
}

.input-group.input-group-head/* Si */ {
    width: 45%;
    margin-left: 13%;
    margin-bottom: 0%;
}


#DivOptions .input-group{
  width: 40%;

}

.header .toggle-sidebar-btn /* Si */ {
    top: -1px;
    font-size: 32px;
    cursor: pointer;
    color: var(--acolor);
}

.sidebar /* Si */ {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0px;
    width: 243px;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color:var(--boxbackground);
    transition: transform 0.3s ease;
}

.sidebar.SidebarHide
{
  transform: translateX(-290px);
}

        
.sidebar-nav /* si */ {
    user-select: none;
    padding: 0;
    margin: 0;
    list-style: none;
}
        
.sidebar-nav li { /*Si*/
  margin-bottom: 5px;
  margin-right: -21px;
  margin-left: -17px;
  padding: 0px;
  list-style: none;
}
        
.sidebar-nav .nav-heading {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--sidebarhead);
    font-weight: 600;
    margin: 10px 0 1px -5px;
}
        
.sidebar-nav .nav-link /*Si*/
{
  font-size: 17px;
  font-weight: 600;
  font-family: var(--fuente);
  padding: 8px 10px;
  border-radius: 4px;
  color: var(--acolor);
}
        
.sidebar-nav .nav-link i  /* Si */
{
  font-size: 16px;
  margin-right: 10px;
  color: var(--acolor);
}
         
            
.sidebar-nav .nav-link.collapsed i {
  color: var(--sidebarhead);
}
        
.sidebar-nav .nav-link:hover,
.sidebar-nav .nav-link:hover i {
  color: var(--color);
  background: var(--boxHover);
  cursor: pointer;
}
                
.header1 
{
  display: block;
  position: relative;
  height: 60px;
}
          
.header1 .checkbox 
{
  position: absolute;
  display: block;
  height: 23px;
  top: 21px;
  left: 17px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
          
.header1 .hamburger-lines 
{
  height: 20px;
  width: 25px;
  position: absolute;
  top: 22px;
  left: 17px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
          
.header1 .hamburger-lines .line 
{
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: var(--color)
}
          
.header1 .hamburger-lines .line1 
{
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
          
.header1 .hamburger-lines .line2 
{
  transition: transform 0.2s ease-in-out;
}
          
.header1 .hamburger-lines .line3 
{
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
          
.header1 input[type="checkbox"]:checked ~ .hamburger-lines .line1 
{
  transform: rotate(45deg);
}
          
.header1 input[type="checkbox"]:checked ~ .hamburger-lines .line2 
{
  transform: scaleY(0);
}
          
.header1 input[type="checkbox"]:checked ~ .hamburger-lines .line3 
{
  transform: rotate(-45deg);
}

.divioer{margin: -2px 0px 12px -13px;}

#DivOptions
{
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
  align-items: center;
  display: flex;
}

#DivOptions .DOHeading
{
  font-size: 22px;
  margin-left: 0.3%;
}

#DivOptions span
{
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color);
  font-weight: bolder;
}

table thead tr th
{
background-color: var(--color) !important;
color: var(--boxHover) !important;
}

.TAC
{
  text-align: center;
}