

body {
    color: #2f4f4f;
    margin-bottom: 60px
}

label {
    color: #2f4f4f
}

.row {
    position: static;
    --bs-gutter-y: 2rem !important;
    --bs-gutter-x: 1.8% !important;
    width: 100%;
    margin-left: unset !important;
    margin-top: unset !important;
}

.col-md-4 {
    padding-bottom: 15px;
    flex: 0 0 auto;
    width: 30.9% !important;
}

@media (max-width: 768px) {
    .col-md-4 
    {
      width: 48% !important;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .col-md-4 {
        width: 31.5% !important;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .col-md-4 {
        width: 31.5% !important;
    }
}

.panel {
    padding: 30px
}

.panel-default {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 59%;
    background: white;
    box-shadow: 2px 2px 5px lightgrey;
}

.panel-body
{
    text-align: center;
}

.panel-heading {
    color: gray!important;
    font-size: large;
    background-color: #fff!important;
    border: 0
}

.linkButton
{
    border: none;
    background: white;
}

#ContainerOptions
{
    margin-top: 2%;
}

#ContainerOptions h1
{
    margin-bottom: -1%;
    text-align: center;
    color: white;
}